In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.plotting import parallel_coordinates
import plotly.express as px


# Load dataset
path = "D:/MATA KULIAH/akademik/SEMESTER 6/Data Science/week 6/praktikum/Data_Mahasiswa.csv"
df = pd.read_csv(path, delimiter=',')
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017 entries, 0 to 1016
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Durasi Laptop                   1017 non-null   float64
 1   Durasi Medsos di Laptop         1017 non-null   float64
 2   Edukasi Youtube di laptop       1017 non-null   float64
 3   Social_Media_Youtube di Laptop  1017 non-null   float64
 4   Penggunaan Medsos di Laptop     1017 non-null   float64
 5   Durasi Ponsel                   1017 non-null   float64
 6   Durasi Medsos di Ponsel         1017 non-null   float64
 7   Bootcamp                        1017 non-null   float64
 8   UKM kampus                      1017 non-null   float64
 9   Nilai US Biologi                1017 non-null   float64
 10  Peringkat SD                    1017 non-null   float64
 11  Peringkat SMP                   1017 non-null   float64
 12  Nilai US Matematika             1017 non-null   float64
 13  Ayah Lainnya                    1017 non-null   float64
 14  Ibu Pegawai negeri sipil        1017 non-null   float64
 15  Ibu Mengurus rumah tangga       1017 non-null   float64
 16  Target_Category                 1017 non-null   object
dtypes: float64(16), object(1)
memory usage: 135.2+ KB

,Durasi Laptop,Durasi Medsos di Laptop,Edukasi Youtube di laptop,Social_Media_Youtube di Laptop,Penggunaan Medsos di Laptop,Durasi Ponsel,Durasi Medsos di Ponsel,Bootcamp,UKM kampus,Nilai US Biologi,Peringkat SD,Peringkat SMP,Nilai US Matematika,Ayah Lainnya,Ibu Pegawai negeri sipil,Ibu Mengurus rumah tangga
count,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000
mean,-0.008305,-0.031993,0.032754,0.000073,-0.012572,-0.044716,0.011410,0.011976,-0.064914,-0.030547,-0.020324,-0.055023,-0.020253,-0.052133,0.068878,-0.099772
std,0.935170,0.958774,1.007289,0.996208,0.991331,0.916404,0.925183,0.964521,0.926829,0.919316,0.928550,0.918431,0.885949,0.937944,1.003447,0.912624
min,-1.763472,-0.718043,-0.584957,-0.717614,-0.785247,-1.705141,-1.711400,-0.695608,-0.612372,-1.227490,-1.084266,-1.096701,-1.385285,-0.717614,-0.597133,-0.627646
25%,-0.620951,-0.718043,-0.584957,-0.717614,-0.785247,-0.885766,-0.341197,-0.695608,-0.612372,-1.101337,-1.084266,-1.028132,-0.423138,-0.717614,-0.597133,-0.627646
50%,-0.283676,-0.718043,-0.584957,-0.717614,-0.785247,-0.066392,-0.341197,-0.695608,-0.612372,0.148169,0.145865,-0.103981,0.122143,-0.717614,-0.597133,-0.627646
75%,0.702854,0.585067,1.709526,1.393507,1.273484,0.752982,0.572272,1.437591,0.223538,0.148169,0.183339,0.657209,0.122143,1.393507,1.674668,0.047987
max,1.689385,1.899608,1.709526,1.393507,1.273484,1.572357,1.942476,1.437591,1.632993,2.211658,1.991063,3.866899,2.383286,1.393507,1.674668,1.593255